 .container{
    display: flex;
justify-content: space-around;
    margin-top: 10px;
}
.card{
    width:25%;
    background-color: black;
    color: white;
    height: 200px;
    padding-left: 10px;
}
input{
   margin-left: 100px;
}
.para{
    display: none;
}
img{
    width: 80%;
}